<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody class="items-container">
    <div
      *ngIf="cartItems.length === 0 || !isFromLocalStorage"
      class="cart-warning"
    >
      <p>OOPS! no items in your cart.</p>
    </div>
    <tr *ngFor="let item of cartItems">
      <td
        data-label="Account"
        *ngIf="isFromLocalStorage || cartItems.length !== 0"
      >
        {{ item.name }}
      </td>
      <td
        data-label="image"
        class="image-container"
        *ngIf="isFromLocalStorage || cartItems.length !== 0"
      >
        <img class="image" [src]="item.image" alt="" />
      </td>
      <td
        data-label="Amount"
        *ngIf="isFromLocalStorage || cartItems.length !== 0"
      >
        ${{ item.price }}
      </td>
      <td
        data-label="delete"
        *ngIf="isFromLocalStorage || cartItems.length !== 0"
      >
        <i class="bi bi-trash trash" (click)="deleteItem(item.sku)"></i>
      </td>
    </tr>
  </tbody>
</table>
