<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody class="items-container">
    <div *ngIf="cartItems.length === 0" class="cart-warning">
      <p>OOPS! no items in your cart.</p>
    </div>
    <tr *ngFor="let item of cartItems">
      <td data-label="Account">
        {{ item.name }}
      </td>
      <td data-label="image" class="image-container">
        <img class="image" [src]="item.image" alt="" />
      </td>
      <td data-label="Amount">${{ item.price }}</td>
      <td data-label="delete">
        <i class="bi bi-trash trash" (click)="deleteItem(item.sku)"></i>
      </td>
    </tr>
  </tbody>
</table>
